pyperclip==1.8.2
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
pillow
image
opencv-python
tensorflow>=2.0.0
validators
essential_generators
tqdm
imgaug
fonttools
editdistance
pyclipper
keras
shapely
efficientnet==1.0.0